@media (max-width: 768px) and (min-width: 390px)  {

    body {
      font-size: 16px;
      overflow-x: hidden;
    }
  
    .navbar {
      background-color: $backgroundcolor;
      width: 100%;
      height: 5em;
      position: fixed;
      top: 0;
      z-index: 1000;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5), 0px 0px 50px 30px rgba(0, 0, 0, 0.8);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      box-sizing: border-box;
      overflow: hidden;
  
      .rotate-scale-up {
          width: 4em;
          height: 4em;
          position: relative;
          right: -30px;
          animation: rotate-scale-up 0.65s linear both;
      }
  
      @keyframes rotate-scale-up {
        0% {
          transform: scale(1) rotateZ(0);
        }
        50% {
          transform: scale(2) rotateZ(180deg);
        }
        100% {
          transform: scale(1) rotateZ(360deg);
        }
      }
  
      ul {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
      }
  
      li {
        margin: 0 1rem;
      }
  
      a {
        color: #f2e15c;
        font-size: 15px;
        font-family: cursive;
        text-decoration: none;
        transition: all 0.5s;
        position: relative;
        right: 20px;
      }
  
      a:hover {
        color: #fff;
      }
    }
  
    a {
      -webkit-animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
  
    @-webkit-keyframes tracking-in-contract-bck-bottom {
      0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(300px);
        transform: translateZ(400px) translateY(300px);
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
      }
    }
    @keyframes tracking-in-contract-bck-bottom {
      0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px) translateY(300px);
        transform: translateZ(400px) translateY(300px);
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
      }
    }
  
    .titulo {
      position: relative;
      left: -1px;
    }
  
    .outnow {
      position: relative;
      left: 5px;
    }
  
    .btnurl {
      position: relative;
      left: -25px;
    }
  
    .gridmain {
  
      width:100%;
      overflow-x: hidden;
      .container2 {
        width: 50%;
        max-width: 20rem;
  
        img {
          display: block;
          width: 30rem;
          padding: 70px;
          position: relative;
          right: -6.3rem;
        }
      }
    }
  
    .contenedorcds {
      display: block;
      position: relative;
      width: 90%;
  
      .discs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
          "cd1 cd2"
          "cd3 cd4";
        position: relative;
        top: -70%;
        left: 10%;
  
        a img {
          width: 20vh;
          padding: 10px;
          object-fit: cover;
          opacity: .9;
          transition: .5s ease;
          display: flexbox;
          position: relative;
          right: 28%;
          margin-left: auto;
          margin-right: 0;
          text-align: center;
          box-sizing: border-box;
        }
  
        a img:hover {
          cursor: crosshair;
          width: 20vh;
          opacity: 3;
        }
      }
    }
  
  /*Music*/
  
  .mainmusic{
    width: 100%;
    overflow: hidden;
  }
  
  
  .offernewcd {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3b7780;
    box-shadow: 0px 17px 59px 11px rgba(0, 0, 0, 0.75);
    height: 50vh;
  
    img{
      display: block;
      width: 50vh;
      padding: 10px;
      object-fit: cover;
      position: relative;
      top: 2rem;
      right: -12%;
    }
  
    p{
    opacity: 0%;
    }
  }
  
  
  .musiccontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        " cd1 cd2"
        " cd3 cd4"
        " cd5 cd6"
        " cd7 cd8"
        " cd9 cd10"
        " cd11 cd12";
    background-color: black;
    position: relative;
    bottom: 10%;
    height: 111rem;
  
  img{
    display: flex;
    width: 100%;
    padding: 0;
    object-fit: cover;
    opacity: .9;
    right: 3%;
  }
  
  img:hover {
    cursor: crosshair;
    width: 101%;
  }
  
  .subtitulo{
    position: relative;
    bottom: 108.5rem;
    left: 9rem;
  }
  
  
  }
  
  .maintour {
    display: block;
    background-color: #3b7780;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  
    .toursection {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
          " date1 date2 date3"
          " place place2 place3"
          "  rsvp1 rsvp2 rsvp3"
          " tiket1 tiket2 tiket3";
      width: 90%;
      height: 10vw;
      position: relative;
      top: 20vh;
      right:-3%;
  
      div span{
        font-size: 15px;
      }
  
  }
  
  
  }
  
  /*Store*/
  
  .mainstore {
    display: block;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 443vh;
  
    .storesection {
      display: grid;
      background-color: #3b7780;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(8, 1fr);
      grid-template-areas:
          "item1"
          "item2"
          "item3"
          "item4"
          "item5"
          "item6"
          "item7"
          "item8";
    }
  
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: cursive;
    }
  }
  
/*contactus*/
.bodycobtact {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maincontact {
  display: block;
  background-color: #3b7780;
  width: 100%;
  height: 120vh;
}

.maincontact h1 {
  display: flex;
  font-size: 35px;
  color: #f0df5d;
  font-family: cursive;
  padding: 10px;
  margin: 10px;
  position: relative;
  top: 15vh;
  left:0%;
}

.contactform {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20vh;
  left: 0vh;
  width: 100%;
  height: 30vh;

}

.contactform {
-webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes contactform {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}

@keyframes contactform {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}


.field {
  border: transparent;

}

.nombreform {
  display: flex;
  font-size: 20px;
  color: #f0df5d;
  font-family: cursive;
}

.emailform {
  display: flex;
  font-size: 20px;
  color: #f0df5d;
  font-family: cursive;
}

.phoneform {
  display: flex;
  font-size: 20px;
  color: #f0df5d;
  font-family: cursive;
}

#name {
  display: flex;
  border-radius: 15px;
  font-size: 25px;
  color: black;
  font-family: cursive;
  margin: 1vh
}

#email {
  display: flex;
  border-radius: 15px;
  font-size: 25px;
  color: black;
  font-family: cursive;
  margin: 1vh
}

#phone {
  display: flex;
  border-radius: 15px;
  font-size: 25px;
  color: black;
  font-family: cursive;
  margin: 1vh
}

.submitform {
  display: flex;
  border-radius: 20px;
  font-size: 25px;
  padding: 10px;
  font-family: cursive;
  margin: 1vh;
  position: relative;
  top: 2vh;
  left: 32%;
}

.submitform {
-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
        animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

  }